<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Muhamad Nauval Azhar">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="This is a login page template based on Bootstrap 5">
	<title>Log In</title>
</head>

<body>
	<form action="/registro" method="POST">
		<input placeholder="Nombre" name="nombre_bdy">
		<input placeholder="Apellidos" name="apellidos_bdy">
		<input placeholder="Correo" name="correo_bdy">
		<input placeholder="Contraseña" name="contrasenia_bdy">
		<button type="submit">Guardar</button>
	</form>
</body>
</html>
